* {
  font-family: sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background: #f9f9f9;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

/* Form Input fields */
header {
  background: #eeeef3;
  display: flex;
  justify-content: space-around;
  height: 150px;
}

.logo {
  align-self: center;
}

.logo svg {
  width: 160px;
}

.form {
  text-align: center;
  padding: 30px;
  overflow-y: hidden;
}

.form-control {
  border: 1px solid #1d1c28;
  padding: 10px;
  background: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 150px;
  text-align: center;
}


.a input {
  font-size: 13px;
}

.btn {
  width: 200px;
  background: rgb(63, 61, 86);
  Opacity: 0.6;
  border: 1px solid rgb(63, 61, 86);
  cursor: pointer;
  font-size: 12px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
  padding: 10px;
  margin-top: 5px;
}

.btn:hover {
  transition: 0.3s ease-in-out;
  background: rgb(63, 61, 86);
  border: 1px solid rgb(63, 61, 86);
  color: #fff;
  opacity: 1;
}

.fa-search {
  padding-right: 5px;
  ;
}


.sign-in {
  display: flex;
  align-self: center;
  white-space: nowrap;
  width: 160px;
  min-width: 160px;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  color: #fff;
  text-decoration: none;
}

.sign-in:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

a:visited {
  color: black;
}

/* Results */

.loading {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loading-element {
  border-top: 4px solid white;
  border-right: 4px solid #2B2949;
  border-bottom: 4px solid white;
  border-left: 4px solid #2B2949;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  opacity: 0;
  position: absolute;
}

.loading-element.loading {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.main {
  display: flex;
}

.left {
  width: 25%;
}

.right {
  width: 25%;
}

.sticky {
  position: sticky;
  position: fixed;
  width: 20%;
  padding-top: 30px;
}

.module {
  text-align: center;
  border: 1px solid #808080;
  margin-bottom: 20px;
  background: white;
}

.module i {
  font-size: 40px;
  padding: 10px;
}


.left .sticky {
  margin-left: 60px;
}

.module svg {
  height: 200px;
}

.module h1 {
  font-size: 14px;
}

.module h2 {
  font-size: 12px;
  padding: 10px 5px;
}

.module button {
  padding: 3px;
  margin-bottom: 15px;
  border-radius: 3px;
  background: #fff;
}

.results {
  width: 50%;
  transition: ease;
  border-radius: 2px;
  transition: 0.5 ease;
  overflow-x: visible;
  display: flex;
  justify-content: center;

}

.card {
  width: 600px;
  overflow: hidden;
  animation: 1s ease-out 0s 1 appear;
  margin-bottom: 80px;
  padding: 20px;
}

@keyframes appear {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animated {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid rgb(118, 125, 159);
  color: black;

}


.job-title {
  background: rgb(63, 61, 86);
  border: 1px solid rgb(118, 125, 159);
  color: white;
  padding-left: 10px;
  font-size: 24px;
}

.view-job {
  text-decoration: none;
}

.view-job:hover {
  text-decoration: underline;
}


/* jump to top btn */
.top {
  position: absolute;
  position: fixed;
  top: 890px;
  left: 170px;
  margin-top: 1.5px;
  cursor: pointer;
  font-size: 15px;
  color: red;
  background: none;
  transition: 0.3s ease-in-out;
  border: none;
  animation: 4s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}



footer {
  height: 30px;
  width: 100%;
  background: rgb(63, 61, 86);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}








/* media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1235px) {

  /* Form Input fields */
  header {
    flex-direction: column;
    height: auto;
  }

  .logo {
    padding-top: 15px;
  }

  .logo svg {
    width: 140px;
  }

  .form-control {
    width: 120px;
  }

  .sign-in {
    display: none;
  }



  /* Results */
  .main {
    display: flex;
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }

  .results {
    width: 100%;
  }

  .card {
    width: auto;
    max-width: 600px;
  }


  .job-title {
    font-size: 18px;
  }
}